# IDE folders
.vscode/

# Build artifacts
build/
output/
visualize/nfa_visual
visualize/dfa_visual.png
visualize/dfa_visual
visualize/dfa_visual.png
visualize/min_dfa_visual
visualize/min_dfa_visual.png

# Python cache and virtual environment
server/__pycache__/
server/venv/
